main {
    flex-direction: row;
}

section:nth-child(1) {
    flex: 2;
    flex-direction: column;
}

section:nth-child(2) {
    flex: 2;
}

section .userList {
    padding-left: 35px;
    margin-bottom: 35px;
    margin-right: 35px;
}

section .dictionary {
    padding: 15px;
    padding-left: 35px;
    border: thin black solid;
    margin-top: 25px;
    margin-right: 35px;
}

#chat-text {
  padding: 1em 0;
}
.received {
  color: rgb(153, 87, 148);
  margin-left: 0.5em;
}
.sent {
  color: rgb(87, 153, 117);
}
.system {
  color: rgb(225, 103, 10);
}
.name {
  padding: 1em 0;
}