main {
    flex-direction: row;
}

section:nth-child(1) {
    flex: 2;
    flex-direction: column;
}

section:nth-child(2) {
    flex: 2;
}

section .userList {
    padding-left: 35px;
    margin-bottom: 35px;
    margin-right: 35px;
}

section .dictionary {
    padding-left: 35px;
    border: thin black solid;
    margin-top: 25px;
    margin-right: 35px;
}